


  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2%;

    .top-content-section {
      margin: 0 5% 0 5%;

      @media @mobile {
        width: 80%;
        flex-direction: column;
      }

      .top-img-content {
        #bus-pic {
          border-radius: 0;
          width: 100%;
          padding-bottom: 2%;
          margin: 0 auto;
        }
      }// close top-img-content

      .top-text-content {
        .border();
      }
    }// close top-content-section

    .content-section {
      width: 100%;
      margin: 2% 5%;
      display: flex;
      justify-content: space-between;

      @media @mobile {
        width: 80%;
        flex-direction: column;
      }

      .text-content {
        width: 48%;
        padding-right: 1%;

        @media @mobile {
          width: 100%;
        }

      }

      .img-content {
        width: 48%;

        img {
          border-radius: 10px;
        }

        @media @mobile {
          width: 100%;
        }
      } // close img-content
    } // close content-section

    .inverse-content {
      margin: 0 5% 0 5%;
      padding-bottom: 30px;
      .border() ;

      @media @mobile {
        width: 80%;
        flex-direction: column-reverse;
      }

      .text-content {
        padding-left: 1%;
        padding-right: 0;

        @media @mobile {
          width: 100%;
        }
      }

      .img-content {
        padding-right: 1%;
        padding-left: 0;

        @media @mobile {
          width: 100%;
        }
      }
    } // close inverse-content

    .content-destination {
      width: 100%;
      margin: 0 5% 0 5%;
      padding-top: 10px;

      img {
        border-radius: 10px;
      }

      @media @mobile {
        width: 80%;
        .border() ;
      }
    } // close content-destination

    .content-pick {
      padding-top: 30px;
      .border() ;
      display: flex;
      justify-content: space-between;

      @media @mobile {
        width:100%;
        flex-direction: column;
        justify-content: center;
      }

      .destination {
        width: 30%;
        margin-bottom: 30px;

        @media @mobile {
          width:100%;%;

        }

      .btn {
        .button() ;

      }// close btn
    } // close destination
    } // content-pick
  } // home
